In [1]:
%matplotlib notebook

In [2]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [18]:
#read CSV File
zev_sales_csv = pd.read_csv("Resources/ZEV_Sales_CSV.csv").set_index("Data Year")
zev_sales_csv

,County,FUEL_TYPE,MAKE,MODEL,Number of Vehicles
Data Year,,,,,
1998,Los Angeles,Electric,Ford,Ranger,1
1998,Orange,Electric,Ford,Ranger,1
1998,San Bernardino,Electric,Ford,Ranger,2
1998,San Mateo,Electric,Ford,Ranger,1
1999,Santa Barbara,Electric,Ford,Ranger,1
...,...,...,...,...,...
2023,Yuba,PHEV,Hyundai,Tucson PHEV,1
2023,Yuba,PHEV,Jeep,Wrangler,1
2023,Yuba,PHEV,Mitsubishi,Outlander PHEV,1
2023,Yuba,PHEV,Toyota,Prius Prime,1
2023,Yuba,Hydrogen,Toyota,Mirai,1

In [22]:
#Question 1: 
recent_ev_sales = zev_sales_csv.loc[[2019,2020,2021,2023],:]
recent_ev_sales.head()

            County FUEL_TYPE       MAKE    MODEL  Number of Vehicles
Data Year
2019       Alameda  Electric       Audi   e-tron                  74
2019       Alameda  Electric        BMW       i3                 112
2019       Alameda  Electric  Chevrolet  Bolt EV                1047
2019       Alameda  Electric       FIAT     500e                  31
2019       Alameda  Electric       Ford    Focus                   2

In [38]:
#Question 2:
zev_sales_csv_county = pd.DataFrame(zev_sales_csv.groupby("County")["Number of Vehicles"].sum().sort_values(ascending=False).reset_index().set_index("County"))
print(zev_sales_csv_county.head(5))
print(zev_sales_csv_county.tail(5))

             Number of Vehicles
County
Los Angeles              414287
Orange                   190996
Santa Clara              173458
San Diego                123125
Alameda                  105058
         Number of Vehicles
County
Trinity                  56
Lassen                   45
Alpine                   36
Sierra                   12
Modoc                     7

In [40]:
#Question 3: